{% extends 'base.html' %}

{% block title %}
Welcome!! 
{% endblock title %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
{% endblock css %}

{% block content %}

<h1>Welcome to the Measurement Conversion Center</h1>

<h2>A history of all your conversions will appaear below</h2>
<section class="app-container">
<div id="history">
<h1>All Conversion History</h1>
<ul>
    {% for conversion in history %}
    <li class="{{ conversion.category }}"> {{ conversion.category }} <b>{{ conversion.amount }}</b> {{ conversion.targetUnit }} to {{ conversion.convertUnit }}: <b>{{ conversion.result }}</b> on {{ conversion.created_at }}</li>
    {% empty %}
    <li>No conversion history available.</li>
    {% endfor %}
</ul>
</div>
</section>
{% endblock content %} 