<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'temperature' %}">Temperature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'distance' %}">Distance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'volume' %}">Volume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'weight' %}">Weight</a>
        </li>
      </ul>
                <div class="login-button">
        {% if user.is_authenticated %}
          <button class="btn btn-outline-dark">Welcome: {{user.username}}</button>
          <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
          <p> or </p>
          <a class="btn btn-outline-warning" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>